.rTable {
    display: block;
    width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
    clear: both;
}

.rTableCell, .rTableHead {
    border: 1px solid #999999;
    float: left;
    overflow: hidden;
    padding: 2px;
    width: 25px;
    height: 25px;
}
.rTable:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.activeCell {
    background-color: #000;
}

.paddingRight10 {
    padding-right: 10px;
}

.tableoflife select {
    height: 26px;
    line-height: 26px;
}

.successMessage {
    color: #5cb85c;
}

.btnGlyphicon {
    font-size: 25px;
    vertical-align: middle;
}