<div>
    <select data-ng-model="appCtrl.selectedTable" data-ng-change="appCtrl.initTable()">
        <option data-ng-repeat="item in appCtrl.availableTables" value="{{item}}">{{item}}</option>
    </select>
</div>
<div class="rTable">
    <div data-ng-repeat="row in appCtrl.table" class="rTableRow">
        <div data-ng-repeat="cell in row.cells" class="rTableCell" data-ng-class="{'activeCell': !!cell.state}" data-ng-click="appCtrl.changeCellState(cell)"></div>
    </div>
</div>
<div>
    <label for="table-rows" data-translate>Sor:</label>
    <input id="table-rows" type="number" min="10" max="40" data-ng-model="appCtrl.tableRows" data-ng-change="appCtrl.updateTable()" />
    <label for="table-columns" data-translate>Oszlop:</label>
    <input id="table-columns" type="number" min="10" max="60" data-ng-model="appCtrl.tableColumns" data-ng-change="appCtrl.updateTable()" />
</div>
<div>
    <a href="#" data-ng-click="appCtrl.getNext()" data-ng-if="!appCtrl.playing">Következő</a>
    <a href="#" data-ng-click="appCtrl.startPlaying()" data-ng-if="!appCtrl.playing">Lejátszás</a>
    <a href="#" data-ng-click="appCtrl.stopPlaying()" data-ng-if="appCtrl.playing">Megállítás</a>
    <a href="#" data-ng-click="appCtrl.initTable()" data-ng-if="!appCtrl.playing">Újra</a>
</div>